@import "tailwindcss";

/* Custom theme variables */
@theme {
  --font-body: 'Inter', sans-serif;
  --color-fire: #ea2e03;
}

/* Hide scrollbar styles */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
